@import "./album-media-query";

.main-content-album {
  background: linear-gradient(180deg, rgba(88, 22, 66, 1) 0%, rgba(18, 18, 18, 1) 30%);
  display: flex;
  flex-direction: column;
  padding: {
    top: 0;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
  }
  a {
    font-size: 2rem;
    text-decoration: none;
    color: lightgray;
  }
  .hero-album {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    @include xs {
      flex-direction: column;
      align-items: center;
    }

    #hero-image-album {
      width: 220px;
      height: 220px;
      @include xs {
        width: 80%;
        height: 80%;
      }
      // @include md-lg {
      //   width: 180px;
      //   height: 180px;
      //   margin: {
      //     bottom: 50px;
      //   }
      // }
    }
    .hero-info-album {
      h1 {
        color: white;
        margin: 0;
        font-size: 3rem;
        @include xs {
          font-size: 2rem;
        }
        margin-left: -5px; // è orribile lo toglierò è MOSTRUOSO
      }
      h1:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-top: 0;
      font-size: 0.8rem;
      color: white;
    }
    p:nth-of-type(2) {
      font-size: 1.2rem;
    }
    .album-caption {
      display: flex;
      @include xs {
        margin: {
          top: 1rem;
        }
      }
      #mini-artist-image {
        border-radius: 30px;
        width: 25px;
      }
      h3 {
        margin: {
          top: 0.3rem;
          left: 0.5rem;
          bottom: 0;
        }
        padding: {
        }
        color: white;
        a {
          font-size: 1rem;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #icon-bar {
    margin: {
      top: 2rem;
    }
    .icon-bar-button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }
    i {
      font-size: 2rem;
      margin-right: 2rem;
      color: lightgray;
    }
    i:hover {
      color: white;
    }
    .fa-circle-play {
      font-size: 3rem;
      color: #1ed760;
    }
    .fa-circle-play:hover {
      color: #1ed760;
      scale: 1.1;
    }
  }

  hr {
    width: 100%;
  }
  .track-player {
    display: flex;
    justify-content: space-between;
    color: lightgray;
    margin: {
      top: 2rem;
    }
    padding: {
      top: 1rem;
      bottom: 1rem;
    }

    .number-title {
      display: flex;
      width: 190px;
      position: relative;
      #number {
        font-size: 1rem;
        margin: {
          left: 1rem;
          right: 1rem;
        }
      }
      .song-artist {
        .title {
          font-size: 1rem;
        }
        .artist {
          color: grey;
        }
      }
      .button-album-song {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        position: absolute;
        top: 7px;
        left: 8px;
        visibility: hidden;
        i {
          font-size: 1.1rem;
        }
      }
      .song-number {
        font-size: 1rem;
        margin: {
          left: 1rem;
          right: 1rem;
          top: 0.5rem;
        }
      }
    }

    #play {
      font-size: 1rem;
      margin: {
        left: 10rem;
      }
      @include lg {
        display: none;
      }
    }
    #duration {
      font-size: 1rem;
      margin: {
        right: 3rem;
      }
    }
    .play-song {
      font-size: 1rem;
      margin: {
        left: 10rem;
        top: 0.5rem;
      }
      @include lg {
        display: none;
      }
    }
    .duration-song {
      font-size: 1rem;
      margin: {
        right: 3rem;
        top: 0.5rem;
      }
    }
  }

  .track-player:hover {
    background-color: #282828;
    border-radius: 10px;
    padding: {
      top: 1rem;
      bottom: 1rem;
    }
  }
  .track-player:hover .number-title .button-album-song {
    visibility: visible;
  }
  .track-player:hover .number-title .song-number {
    visibility: hidden;
  }

  #more-albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3.6rem;
    overflow: hidden;
    .more-album-card {
      width: 210px;
      // @include lg {
      //   width: 120px;
      // }
      background-color: rgb(25, 25, 25);
      padding: {
        top: 1rem;
        bottom: 1.2rem;
        left: 1rem;
        right: 1rem;
      }
      margin: {
        top: 1rem;
        bottom: 1rem;
      }
      border-radius: 6px;
      transition: 0.4s;
      img {
        width: 180px;
        // @include lg {
        //   width: 90px;
        // }
        border-radius: 4px;
      }
      h3 {
        font-size: 1.1rem;
        color: white;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h4 {
        margin-bottom: 0;
        font-size: 1rem;
        color: gray;
      }
    }
    .more-album-card:hover {
      background-color: #282828;
    }
  }
}

//classe per elemento sticky
.sticky {
  background-color: rgba(88, 22, 66, 1);
  z-index: 10;
}

// barra del volume
.player-opt {
  display: flex;
  justify-content: end;
  align-items: center;
}
.volume {
  input[type="range"] {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .icon-size {
    font-size: 2rem;
  }

  .bar-hoverbox {
    padding: 10px 15px;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .bar {
    background: #999;
    height: 7px;
    width: 100px;
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;

    .bar-fill {
      background: #fff;
      width: 0%;
      height: 100%;
      background-clip: border-box;
      pointer-events: none;
    }
  }
}

//media query per colonne
.side-column:nth-of-type(2) {
  @include lg {
    display: none;
  }
}
.side-column:nth-of-type(1) {
  @include md {
    display: none;
  }
  .second-nav {
    @include lg {
      display: none;
    }
  }
  hr {
    @include lg {
      display: none;
    }
  }
  .playlist-list {
    @include lg {
      display: none;
    }
  }
}
