@import "./mixin.scss";

.main-container {
  .artist-hero {
    padding: 1rem 2rem;
    // background-image: url("https://e-cdns-images.dzcdn.net/images/artist/3ec5542ff520ee74e2befdaba32ef2ef/1000x1000-000000-80-0-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h3 {
      color: white;
      margin-top: 200px;
      margin-bottom: 5px;
    }
    a{
      text-decoration: none;
      h1 {
        color: white;
        font-size: 5rem;
        margin-top: 0px;
        margin-bottom: 20px;
        @include xl {
          font-size: 3.5rem;
        }
        @include lg {
          font-size: 2.5rem;
        }
      }
    }
    a:hover {
      text-decoration: underline;
      text-decoration-color: white;
    }
    p {
      color: white;
      font-size: 1.2rem;
      margin-top: 0px;
      margin-bottom: 12px;
    }
  }
  .artist-page {
    background: linear-gradient(180deg, rgba(88, 22, 66, 1) 0%, rgba(18, 18, 18, 1) 30%);
    padding: 1rem 2rem;
    .artist-pad {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      .buttonplay {
        text-align: center;
        background-color: #1ed760;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: none;
        margin-right: 2.5rem;
        i {
          font-size: 1.7rem;
          padding-left: 4px;
        }
      }
      .buttonplay:hover {
        transform: scale(1.05);
      }
      .buttonfollow {
        width: 77px;
        height: 31px;
        background-color: transparent;
        color: white;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.6pt;
        border-radius: 4px;
        margin-right: 2.5rem;
        border: 1px solid gray;
      }
      .buttonfollow:hover {
        border: 1px solid white;
      }
      .dots {
        margin-left: 1rem;
        font-size: 1.6rem;
        color: gray;
      }
      .dots:hover {
        color: white;
      }
    }
    .artist-songs {
      display: flex;
      flex-direction: column;
      @include xxxl {
        flex-direction: row;
      }
      .popular-songs {
        width: 100%;
        margin-right: 4rem;
        @include xxxl {
          width: 60%;
        }
        h2 {
          font-size: 1.8rem;
          color: white;
          font-weight: 600;
        }
        ol {
          color: white;
          padding-left: 0rem;
          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            border-radius: 4px;
            padding: 1rem 1rem 1rem 0rem;
            @include md {
              flex-direction: column;
              align-items: start;
            }
            @include lg {
              padding: 0.5rem 0.5rem 0.5rem 0rem;
            }
            .button-artist-song {
              border: none;
              background-color: rgb(0 0 0 / 0);
              i {
                color: lightgray;
                visibility: hidden;
              }
            }
            span {
              font-size: 1.1rem;
            }
            .artist-imgtitle {
              display: flex;
              align-items: center;
              gap: 15px;
              width: 350px;
              @include md {
                width: 100%;
              }
              img {
                width: 40px;
                height: 40px;
              }
              .artist-song:hover {
                text-decoration: underline;
                text-decoration-color: white;
              }
            }
            .artist-followers {
              color: gray;
              @include md {
                margin-left: 6.3rem;
              }
            }
            .artist-followers:hover {
              color: white;
              cursor: default;
            }
            .artist-time {
              color: gray;
              cursor: default;
              @include xl {
                display: none;
              }
            }
          }
          li:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
          li:hover .button-artist-song i {
            visibility: visible;
          }
        }
      }
      .favourite-songs {
        width: 100%;
        @include xxxl {
          width: 30%;
        }
        h2 {
          font-size: 1.8rem;
          color: white;
          font-weight: 600;
        }
        .artist-like {
          display: flex;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
          }
          .artist-likers {
            h3 {
              color: white;
              font-size: 1.1rem;
              font-weight: 600;
            }
            h3:hover {
              text-decoration: underline;
              cursor: pointer;
            }
            a {
              text-decoration: none;
              p {
                color: gray;
                font-size: 1rem;
              }
              a:hover {
                text-decoration: underline;
                text-decoration-color: white;
              }
            }
          }
        }
      }
    }
  }
}

.side-column:nth-of-type(2) {
  @include lg {
    display: none;
  }
}

.side-column:nth-of-type(1) {
  @include md {
    display: none;
  }
  .second-nav {
    @include lg {
      display: none;
    }
  }
  hr {
    @include lg {
      display: none;
    }
  }
  .playlist {
    @include lg {
      display: none;
    }
  }
}

.player-opt {
  display: flex;
  justify-content: end;
  align-items: center;
}
.volume {
  input[type="range"] {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .icon-size {
    font-size: 2rem;
  }

  .bar-hoverbox {
    padding: 10px 15px;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .bar {
    background: #999;
    height: 7px;
    width: 100px;
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;

    .bar-fill {
      background: #fff;
      width: 0%;
      height: 100%;
      background-clip: border-box;
      pointer-events: none;
    }
  }
}
