@import "./artist-page.scss";
@import "./album-page.scss";

// GENERAL

* {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-size: 0.9rem;
}

*::-webkit-scrollbar {
  width: 8px;
  transition: 1s;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
}

// SIDE COLUMNS

.side-column {
  color: lightgray;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100.8px);
  width: 20rem;
  padding: {
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
  }
  a {
    text-decoration: none;
    color: lightgray;
    display: flex;
    align-items: center;
    margin: {
      top: 16px;
      bottom: 16px;
    }
    img {
      width: 25px;
      border-radius: 2px;
      margin-right: 20px;
    }
  }
  i {
    margin-right: 20px;
    font-size: 1.7rem;
  }
  hr {
    width: 100%;
    border-top: 1px solid rgb(38, 38, 38);
    border: {
      left: none;
      right: none;
      bottom: none;
    }
  }
  .second-nav {
    margin-top: 0.8rem;
    i {
      font-size: 2rem;
    }
    a {
      display: flex;
      align-items: center;
    }
  }
  .playlist {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    a {
      margin: {
        top: 0.8rem;
        bottom: 0.8rem;
      }
    }
    a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}

.right-column {
  width: 25rem;
  padding: {
    left: 0.6rem;
    right: 0.6rem;
    top: 0.2rem;
  }
  .header-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: {
      left: 4px;
      right: 4px;
    }
    h2 {
      color: rgb(232, 232, 232);
      font-size: 1.1rem;
    }
    i {
      font-size: 1rem;
      margin: {
        left: 10px;
        right: 0;
      }
    }
  }
  .fb-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: {
      top: 1.2rem;
    }
    .user-infos {
      display: flex;
      align-items: flex-start;
      h3 {
        margin: {
          top: 0;
          bottom: 8px;
        }
      }
      .user-data {
        width: 140px;
      }
      p {
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: {
          top: 8px;
          bottom: 8px;
        }
      }
      i {
        font-size: 0.8rem;
        margin: 0;
      }
      img {
        width: 50px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
    .user-time {
      align-self: flex-start;
      i {
        font-size: 1rem;
        margin: 0;
      }
    }
  }
}

// CENTRAL MAIN SECTION

.main-container {
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 100.8px);
  overflow-y: scroll;
  header {
    background-color: rgba(88, 22, 66, 1);
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
      top: 1rem;
      bottom: 1rem;
      left: 2rem;
      right: 2rem;
    }
    .nav-icons {
      color: rgb(255 255 255 / 0.5);
      i {
        font-size: 1.5rem;
        background-color: rgb(0 0 0 / 0.4);
        padding: {
          top: 5px;
          bottom: 3px;
          left: 8px;
          right: 8px;
        }
        margin-right: 1rem;
        border-radius: 50%;
      }
    }
    .dropdown-container {
      color: white;
      position: relative;
      .dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        background-color: #272828;
        border-radius: 20px;
        padding: {
          top: 8px;
          bottom: 8px;
          left: 10px;
          right: 10px;
        }
        img {
          width: 25px;
          border-radius: 50%;
        }
        .invisible-icon {
          display: none;
        }
      }
      .dropdown-menu {
        display: none;
        width: 200px;
        background-color: #272828;
        position: absolute;
        top: 3.3rem;
        left: -5rem;
        border-radius: 6px;
        padding: {
          top: 8px;
          bottom: 8px;
          left: 10px;
          right: 10px;
        }
        hr {
          margin-top: 1.5rem;
          margin-bottom: 0;
          border: {
            top: 1px solid rgb(81, 81, 81);
            bottom: none;
            left: none;
            right: none;
          }
        }
        a {
          border-radius: 3px;
          padding: {
            left: 0.4rem;
            right: 0.4rem;
            top: 1rem;
            bottom: 1rem;
          }
          display: block;
          text-decoration: none;
          color: lightgray;
          i {
            float: right;
            margin-right: 6px;
          }
        }
        a:hover {
          background-color: #424242;
        }
      }
      .visible {
        display: block;
      }
    }
  }
  .main-content {
    background: linear-gradient(180deg, rgba(88, 22, 66, 1) 0%, rgba(18, 18, 18, 1) 30%);
    padding: {
      top: 0;
      bottom: 1rem;
      left: 2rem;
      right: 2rem;
    }
    a {
      font-size: 2rem;
      text-decoration: none;
      color: lightgray;
    }
    .hero {
      padding: {
        top: 2rem;
        bottom: 2rem;
        left: 1rem;
        right: 1rem;
      }
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 2rem;
      background: linear-gradient(215deg, rgba(88, 22, 66, 0) 0%, rgba(18, 18, 18, 1) 100%);
      @include xs {
        flex-direction: column;
      }
      #hero-image {
        width: 220px;
        height: 220px;
      }
      .hero-info {
        h1 {
          color: white;
          margin: 0;
          font-size: 5rem;
          @include media1422 {
            font-size: 4rem;
          }
          @include xl {
            font-size: 3rem;
          }
          @include xl {
            font-size: 2.5rem;
          }
          @include xs {
            font-size: 2rem;
          }
        }
        h1:hover {
          text-decoration: underline;
        }
        h3 {
          margin: {
            top: 0;
            bottom: 1rem;
          }
          color: white;
        }
        h3:hover {
          text-decoration: underline;
        }
        p {
          margin-top: 0;
          font-size: 0.8rem;
          color: white;
        }
        p:nth-of-type(2) {
          font-size: 1.2rem;
        }
        button {
          margin-right: 1rem;
          width: 100px;
          height: 50px;
          font-size: 1rem;
          font-weight: 600;
          background-color: #1ed760;
          border-radius: 25px;
          border: none;
          letter-spacing: 0.5pt;
          @include lg {
            width: 87px;
            height: 44px;
          }
        }
        button:hover {
          transform: scale(1.05);
        }
        button:nth-of-type(2) {
          color: white;
          background-color: black;
          outline: 1px solid rgb(149, 149, 149);
        }
        button:nth-of-type(2):hover {
          transform: scale(1.05);
          outline: 1px solid rgb(255, 255, 255);
        }
        i {
          margin-left: 1rem;
          font-size: 1.6rem;
          color: gray;
        }
        i:hover {
          color: white;
        }
      }
    }
  }
  h2 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
  }
  .playlist {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
  }
  .playlist-card {
    color: white;
    align-items: center;
    flex-basis: 31%;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(255 255 255 / 0.1);
    display: flex;
    gap: 1.1rem;
    @include xl {
      flex-basis: 47%;
    }
    @include xs {
      flex-basis: 100%;
    }
    h3 {
      font-size: 1.1rem;
    }
    img {
      width: 80px;
    }
  }
  .recent-album {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 3rem;
    overflow: hidden;
    @include xl {
      column-gap: 4rem;
      justify-content: space-around;
    }
    .album-card {
      width: 210px;
      background-color: rgb(25, 25, 25);
      position: relative;
      padding: {
        top: 1rem;
        bottom: 1.2rem;
        left: 1rem;
        right: 1rem;
      }
      margin: {
        top: 1rem;
        bottom: 1rem;
      }
      border-radius: 6px;
      transition: 0.4s;
      img {
        width: 100%;
        border-radius: 4px;
      }
      .button-play {
        background-color: #1ed760;
        position: absolute;
        top: 134px;
        right: 26px;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 6px 6px rgb(0 0 0 / 0.4);
        opacity: 0;
      }
      @keyframes animationPlay {
        0% {
          opacity: 0;
          top: 144px;
        }
        100% {
          opacity: 1;
          top: 134px;
        }
      }
      i {
        color: black;
        border-radius: 50%;
        font-size: 1.2rem;
        padding-top: 3px;
        padding-left: 3px;
      }
      a {
        display: block;
        text-decoration: none;
      }
      a:nth-of-type(1) {
        font-size: 1.1rem;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: {
          top: 6px;
          bottom: 0;
        }
      }
      a:nth-of-type(2) {
        margin: {
          top: 4px;
          bottom: 0;
        }
        font-size: 1rem;
        color: gray;
      }
    }
    .album-card:hover {
      background-color: #282828;
    }
    .album-card:hover .button-play {
      animation: animationPlay 0.6s linear 1 both;
    }
  }
}

// FOOTER PLAYER

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .footer {
    padding: {
      left: 2rem;
      right: 2rem;
      top: 1rem;
      bottom: 1rem;
    }
    height: 7rem;
    display: flex;
    justify-content: space-between;
    @include xs {
      justify-content: center;
    }
    align-items: center;
    background-color: #181818;
    color: rgb(94, 94, 94);
    .player-listening {
      flex-basis: 240px;
      display: flex;
      justify-content: flex-start;
      gap: 1.3rem;
      align-content: center;
      @include xs {
        display: none;
      }
      p:nth-of-type(1) {
        color: white;
        margin-bottom: 4px;
      }
      p:nth-of-type(2) {
        font-size: 0.7rem;
        color: lightgray;
        margin-top: 4px;
      }
      i {
        align-self: center;
        margin-left: 10px;
        color: #1ed760;
      }
      .icon-listening-none {
        display: none;
      }
      img {
        width: 65px;
      }
    }
    .player-main {
      audio {
        display: none;
      }
      .player-icons {
        flex-basis: 1;
        text-align: center;
        i {
          font-size: 1.3rem;
          margin: {
            left: 11px;
            right: 11px;
          }
        }
        .big {
          font-size: 2.2rem;
        }
        .big:hover {
          transform: scale(1.05);
        }
        .icon-invisible {
          display: none;
        }
      }
      .player-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
        p {
          font-size: 1.6rem;
          color: white;
        }
        progress {
          border-radius: 7px;
          width: 100%;
          height: 4px;
        }
        progress::-webkit-progress-bar {
          -webkit-appearance: none;
          appearance: none;
          background-color: gray;
          border-radius: 7px;
        }
        progress::-webkit-progress-value {
          -webkit-appearance: none;
          appearance: none;
          background-color: white;
          border-radius: 7px;
        }
      }
    }
    .player-opt {
      flex-basis: 240px;
      @include md {
        display: none;
      }
      i {
        margin: {
          left: 8px;
          right: 8px;
        }
        font-size: 1.1rem;
        color: lightgray;
      }
      .slidecontainer {
        display: inline-block;
        .slider {
          -webkit-appearance: none;
          appearance: none;
          width: 80px;
          height: 4px;
          border-radius: 5px;
          background: rgb(96, 96, 96);
          outline: none;
          opacity: 1;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;
        }
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 4px;
          border-radius: 4px;
          background: white;
          cursor: pointer;
        }
        .slider::-webkit-slider-track {
          background: white;
        }
      }
      i:nth-of-type(4) {
        color: rgb(94, 94, 94);
      }
    }
  }
}
