.main-container .artist-hero {
  padding: 1rem 2rem;
  background-color: darkslategrey;
}
.main-container .artist-hero h3 {
  color: white;
  margin-top: 150px;
}
.main-container .artist-hero h1 {
  color: white;
  font-size: 5rem;
  margin-top: 25px;
}
.main-container .artist-hero p {
  color: white;
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 12px;
}
.main-container .artist-page {
  padding: 1rem 2rem;
  background: linear-gradient(180deg, rgb(88, 22, 66) 0%, rgb(18, 18, 18) 30%);
}
.main-container .artist-page .artist-pad {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.main-container .artist-page .artist-pad .buttonplay {
  text-align: center;
  background-color: #1ED760;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  margin-right: 2.5rem;
}
.main-container .artist-page .artist-pad .buttonplay i {
  font-size: 1.7rem;
  padding-left: 4px;
}
.main-container .artist-page .artist-pad .buttonplay:hover {
  transform: scale(1.05);
}
.main-container .artist-page .artist-pad .buttonfollow {
  width: 77px;
  height: 31px;
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.6pt;
  border-radius: 4px;
  margin-right: 2.5rem;
  border: 1px solid gray;
}
.main-container .artist-page .artist-pad .buttonfollow:hover {
  border: 1px solid white;
}
.main-container .artist-page .artist-pad .dots {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: gray;
}
.main-container .artist-page .artist-pad .dots:hover {
  color: white;
}
.main-container .artist-page .artist-songs {
  display: flex;
}
.main-container .artist-page .artist-songs .popular-songs {
  width: 60%;
  margin-right: 4rem;
}
.main-container .artist-page .artist-songs .popular-songs h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}
.main-container .artist-page .artist-songs .popular-songs ol {
  color: white;
}
.main-container .artist-page .artist-songs .popular-songs ol li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.1rem;
  border-radius: 4px;
  padding: 1rem;
}
.main-container .artist-page .artist-songs .popular-songs ol li span {
  font-size: 1.1rem;
}
.main-container .artist-page .artist-songs .popular-songs ol li .artist-imgtitle {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 350px;
}
.main-container .artist-page .artist-songs .popular-songs ol li #artist-followers {
  color: gray;
}
.main-container .artist-page .artist-songs .popular-songs ol li #artist-followers:hover {
  color: white;
  cursor: default;
}
.main-container .artist-page .artist-songs .popular-songs ol li #artist-time {
  color: gray;
  cursor: default;
}
.main-container .artist-page .artist-songs .popular-songs ol li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.main-container .artist-page .artist-songs .favourite-songs {
  width: 30%;
}
.main-container .artist-page .artist-songs .favourite-songs h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}
.main-container .artist-page .artist-songs .favourite-songs .artist-like {
  display: flex;
}
.main-container .artist-page .artist-songs .favourite-songs .artist-like img {
  border-radius: 50%;
  margin-right: 15px;
}
.main-container .artist-page .artist-songs .favourite-songs .artist-like .artist-likers h3 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
.main-container .artist-page .artist-songs .favourite-songs .artist-like .artist-likers h3:hover {
  text-decoration: underline;
}
.main-container .artist-page .artist-songs .favourite-songs .artist-like .artist-likers p {
  color: gray;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-size: 0.9rem;
}

*::-webkit-scrollbar {
  width: 8px;
  transition: 1s;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
}

.side-column {
  color: lightgray;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100.8px);
  width: 20rem;
  padding-top: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.side-column a {
  text-decoration: none;
  color: lightgray;
  margin-top: 9px;
  margin-bottom: 9px;
}
.side-column i {
  margin-right: 20px;
  font-size: 1.4rem;
}
.side-column hr {
  width: 100%;
  border-top: 1px solid rgb(38, 38, 38);
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.side-column .playlist {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.main-container {
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 100.8px);
  overflow-y: scroll;
}
.main-container header {
  background-color: rgb(88, 22, 66);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main-container header .nav-icons {
  color: rgba(255, 255, 255, 0.5);
}
.main-container header .nav-icons i {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 1rem;
  border-radius: 50%;
}
.main-container header .account-dropdown {
  color: white;
}
.main-container .main-content {
  background: linear-gradient(180deg, rgb(88, 22, 66) 0%, rgb(18, 18, 18) 30%);
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main-container .main-content a {
  font-size: 2rem;
  text-decoration: none;
  color: lightgray;
}
.main-container .main-content .hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(215deg, rgba(88, 22, 66, 0) 0%, rgb(18, 18, 18) 100%);
}
.main-container .main-content .hero #hero-image {
  width: 220px;
  height: 220px;
}
.main-container .main-content .hero .hero-info h1 {
  color: white;
  margin: 0;
  font-size: 5rem;
  margin-left: -5px;
}
.main-container .main-content .hero .hero-info h1:hover {
  text-decoration: underline;
}
.main-container .main-content .hero .hero-info h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
}
.main-container .main-content .hero .hero-info h3:hover {
  text-decoration: underline;
}
.main-container .main-content .hero .hero-info p {
  margin-top: 0;
  font-size: 0.8rem;
  color: white;
}
.main-container .main-content .hero .hero-info p:nth-of-type(2) {
  font-size: 1.2rem;
}
.main-container .main-content .hero .hero-info button {
  margin-right: 1rem;
  width: 100px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #1ED760;
  border-radius: 25px;
  border: none;
  letter-spacing: 0.5pt;
}
.main-container .main-content .hero .hero-info button:hover {
  transform: scale(1.05);
}
.main-container .main-content .hero .hero-info button:nth-of-type(2) {
  color: white;
  background-color: black;
  outline: 1px solid rgb(149, 149, 149);
}
.main-container .main-content .hero .hero-info button:nth-of-type(2):hover {
  transform: scale(1.05);
  outline: 1px solid rgb(255, 255, 255);
}
.main-container .main-content .hero .hero-info i {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: gray;
}
.main-container .main-content .hero .hero-info i:hover {
  color: white;
}
.main-container h2 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}
.main-container .playlist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
}
.main-container .playlist-card {
  color: white;
  align-items: center;
  flex-basis: 31%;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 1.1rem;
}
.main-container .playlist-card h3 {
  font-size: 1.1rem;
}
.main-container .playlist-card img {
  width: 80px;
}
.main-container .recent-album {
  display: flex;
  flex-wrap: wrap;
  gap: 3.6rem;
  overflow: hidden;
}
.main-container .recent-album .album-card {
  width: 210px;
  background-color: rgb(25, 25, 25);
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  transition: 0.4s;
}
.main-container .recent-album .album-card img {
  width: 180px;
  border-radius: 4px;
}
.main-container .recent-album .album-card h3 {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-container .recent-album .album-card h4 {
  margin-bottom: 0;
  font-size: 1rem;
  color: gray;
}
.main-container .recent-album .album-card:hover {
  background-color: #282828;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  color: rgb(94, 94, 94);
}
footer .footer .player-listening {
  flex-basis: 225px;
}
footer .footer .player-main .player-icons {
  flex-basis: 1;
  text-align: center;
}
footer .footer .player-main .player-icons i {
  font-size: 1.3rem;
  margin-left: 11px;
  margin-right: 11px;
}
footer .footer .player-main .player-icons i:nth-of-type(3) {
  font-size: 2.2rem;
}
footer .footer .player-main .player-icons i:nth-of-type(3):hover {
  transform: scale(1.05);
}
footer .footer .player-main .player-bar {
  text-align: center;
  margin-top: 12px;
}
footer .footer .player-opt {
  flex-basis: 225px;
}
footer .footer .player-opt i {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1.1rem;
  color: lightgray;
}
footer .footer .player-opt i:nth-of-type(4) {
  color: rgb(94, 94, 94);
}
